:root {
  --main-100: #ffffff;
  --main-bg: rgb(255, 234, 201);
  --main-bg--dark: #ff8000;
}

.App {
  text-align: center;
  display: flex;
  background-color: var(--main-bg);
  height: 100vh;
}

section {
  height: 90vh;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--main-100);
}

.chartSection {
  max-width: 250px;
  min-width: 130px;
}
.serialNumSection {
  display: none;
}
.DataSection {
  overflow-y: scroll;
  position: relative;
}

thead {
  background-color: var(--main-bg);
}

th,
td {
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 980px) {
  .App {
    flex-direction: column;
    padding: 0.5rem;
  }
  .chartSection {
    display: flex;
    justify-content: space-around;
    max-width: none;
    height: 20vh;
    align-items: center;
  }
  .chart > div {
    display: flex;
    flex-direction: row;
  }

  .chart > div > svg {
    max-width: 150px;
  }
  .chart > div > div {
    margin: auto 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media screen and (max-width: 720px) {
  .App {
    padding: 0.1rem;
  }

  section {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--main-100);
  }

  .chartSection {
    display: none;
  }

  .serialNumSection {
    display: block;
    height: 50px;
  }
}
